#parse("publico/header.vm")
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/tablaventas.css">

</head>

<body>
<section class="ftco-section">
    #foreach($venta in $ventas)

    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-6 text-center mb-4">
                <h2 class="heading-section">$venta.nombreCliente - $venta.getFechaCompra()</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-light">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio(RD$)</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        #foreach($producto in $venta.getListaProductos())
                            <td>
                                <div >
                                    <span>$producto.nombre</span>
                                </div>
                            </td>
                            <td>$producto.getPrecio()</td>
                            <td class="quantity">
                                <div class="input-group">$producto.getCantidad()</div>
                            </td>

                            <td>
                                $producto.total()
                            </td>
                        #end
                        <tr>
                            <td>Total:</td>
                            <td>$venta.getTotal()</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    #end
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tablaventas.js"></script>

</body>
</html>

